html {
    background-color: #87DCFF;
    height: 100%;
}
body {
    margin: 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

}
.dropdown-button {
    background-color: #87DCFF;
    border: none;
    margin-left: 2vh;
}


nav a{
    padding:1vh 1vw;
    text-decoration: none;
    color:black;
    transition: all 0.3s ease-out;
}

nav a:hover{
    text-decoration: underline;
    background-color:black;
    color:#87DCFF;
    border-radius:5px;
}

.title {
    font-weight: bold;
}
img {
    width: auto;
    height: 10vh;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 20px;

}
.name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.button {
    background-color: #BEE86E;
    border-radius: 15px;
    border-color: black;
    margin-top: 4vh;
}
.button:hover{
    border-color: black;
}
a {
    font-weight: bold;
}
main {
margin-top: 25vh;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: relative;
    top: 5vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;

}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    transition: all 0.3s ease-out;
}

.dropdown-item:hover {
    background-color: #87DCFF;
}

footer{
    background-color:#BEE86E;
    display:flex;
    margin-top:40vh;
    justify-content: space-evenly;
}

.adres{
    margin:0;
}

#tijden{
    display:flex;
    gap:15px;
}

.maandag{
    margin:0 0 0.5vh 0;
}

@media (max-width: 768px) {

    input[type=text]{
        width:60vw;
        border:2px solid black;
    }

    .button{
        width:60vw;
        border:2px solid black;
    }
    .dropdown-menu {
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        top: 5vh;

    }
    .dropdown-menu a {
        text-align: center;
    }

    footer{
        justify-content: space-between;
        padding:0 5vw;
    }

    #tijden{
        gap:8px;
    }
}