*{
    box-sizing:border-box;
}

body{
    background-color:#87DCFF;
    margin:0;
}

.dropdown-button {
    background-color: #87DCFF;
    border: none;
    margin-left: 2vh;
}

nav a{
    padding:1vh 1vw;
    text-decoration: none;
    color:black;
    transition: all 0.3s ease-out;
    background-color: #BEE86E;
}

nav a:hover{
    text-decoration: underline;
    color:black;
    border-radius:5px;
}

a {
    font-weight: bold;
}

main{
    margin-top:10vh;
}

section{
    text-align:center;
}

h1{
    font-size:3rem;
}

h3{
    font-size:1.5rem;
}

input[type=text] {
    width: 50vw;
    height: 6vh;
    border: 3px solid black;
    border-radius: 10px;
    padding: 3vh 1vw;
    margin: 1.5vh 0;
}

input[type=text]:valid {
    border: 3px solid #0CA789;
}

::placeholder {
    text-align: center;
    color: black;
    font-size: 1rem;
}



.button {
    background-color: #BEE86E;
    width: 50vw;
    height: 6vh;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#button{
    margin-bottom:7vh;
}

#link-form{
    background-color: #BEE86E;
    color:black;
    width: 50vw;
    height: 6vh;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 1.1rem;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    display:flex;
    justify-content:center ;
}

#link-form:hover{
    background-color: greenyellow;
}

#link-account{
    display:flex;
    justify-content: center;

}

@media (max-width: 768px) {

    input[type=text]{
        width:70vw;
        border:2px solid black;
    }

    .button{
        width:70vw;
        border:2px solid black;
    }

    #link-form{
        width:70vw;
        border:2px solid black;
    }
}